<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="streamdeck" version="5.3.1.15197" />
   <package id="via" version="1.3.1" />
   <package id="discord" version="1.0.9005" />
   <package id="Firefox" version="103.0" />
   <package id="git" version="2.37.1" />
   <package id="github-desktop" version="3.0.5" />
   <package id="icue" version="4.26.110" />
   <package id="lghub" version="2022.7.502" />
   <package id="notepadplusplus" version="8.4.4" />
   <package id="nvidia-display-driver" version="516.59" />
   <package id="plex" version="1.49.1.3146" />
   <package id="powershell-core" version="7.2.5" />
   <package id="python3" version="3.10.5" />
   <package id="signal" version="5.51.1" />
   <package id="spotify" version="1.1.90.859" />
   <package id="steam-client" version="2.10.91.92" />
   <package id="terraform" version="1.2.5" />
   <package id="vscode" version="1.69.2" />
</packages>
